@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center mt-5">
    <p class="lead">Песочно‑демонстрационное ASP.NET приложение прогноза погоды</p>
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Функции приложения</h5>
                    <ul class="text-start mt-3">
                        <li>Текущая погода с детальной информацией</li>
                        <li>Прогноз на 3 дня с почасовыми данными</li>
                    </ul>
                    
                    <div class="mt-4">
                        <p class="text-muted">Для просмотра прогноза погоды требуется авторизация</p>
                        <a href="/Account/Login" class="btn btn-primary btn-lg me-3">Войти в систему</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>