**/bin
**/obj
**/.vs
**/.git
**/.idea
**/*.user
**/*.suo
**/*.lock
**/logs
**/node_modules
**/packages
**/TestResults
**/coverage
**/dist
!wwwroot/lib/bootstrap/dist
**/out
**/publish
**/tmp
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.env
**/.vscode
**/launchSettings.json